@import url('http://battlelog.battlefield.com/cdnprefix/local/public/base/fonts/purista/purista.css');

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
}

$light:  #eaf7ff;
$shadow: #bce4ff;

@include keyframes(title) {
  0%   { opacity:1; right:30px; }
  20%  { opacity:1; right:30px; }
  30%  { opacity:1; right:30px; }
  52%  { opacity:1; right:30px; }
  70%  { opacity:1; right:30px; }
  100% { opacity:0; right:30px; }
}

@include keyframes(titletotal) {
    0%   { opacity:0; right:130px; }
    48%  { opacity:0; right:130px; }
    52%  { opacity:1; right:30px; }
    70%  { opacity:1; right:30px; }
    100% { opacity:1; right:30px; }
  }

@include keyframes(fade) {
  0%   { opacity:1; }
  100% { opacity:0; }
}

@include keyframes(bg) {
  0%   { background-color:#306f99; }
  50%  { background-color:#19470f; }
  90%  { background-color:#734a10; }
}

@include keyframes(blink) {
  0%    { opacity:0; }
  5%    { opacity:1; }
  10%   { opacity:0; }
  15%   { opacity:1; }
  20%   { opacity:0; }
  25%   { opacity:1; }
  30%   { opacity:0; }
  35%   { opacity:1; }
  40%   { opacity:0; }
  45%   { opacity:1; }
  50%   { opacity:0; }
  55%   { opacity:1; }
  60%   { opacity:0; }
  65%   { opacity:1; }
  70%   { opacity:0; }
  75%   { opacity:1; }
  80%   { opacity:0; }
  85%   { opacity:1; }
  90%   { opacity:0; }
  95%   { opacity:1; }
  100%  { opacity:0; }
}

#total {
    position: absolute;
    top: 84%;
    left: 59%;

    font-size: 23px;
	color: #d5e9fd;
	text-transform: uppercase;
	text-shadow: 0 0 15px #55a0eb, 0 0 5px #55a0eb, 0 0 10px #55a0eb;
}

#killinfo {
    position: absolute;
    top: 85%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
    min-width: 206.91px;
  h1 {
    display:block;
    text-transform:uppercase;
  }
  .smallxp {
    animation: title 4s ease-in-out forwards;
    font-size: 17px;
    position: relative;
  }
  .smallxp:after {
    content:"";
    display:block;
    position:absolute;
    top:2px; right:-21px;
    height:16px; width:16px;
    background:$light; 
    box-shadow : 0 0 15px $shadow;
    animation : blink 4s infinite; 
  }
  .regularxp {
    animation: title 4s ease-in-out forwards;
    font-size: 25px;
  }
}

#total {
    animation: titletotal 4s ease-in-out forwards;
}